/* Specifications for the content of this page */
.portfolio-content {
    margin: 5px 0;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
}

/* Adjust the icon to the center */
.center-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.center-icon section {
    display: inline-block;
    padding: 5px;
}

/* Animation when hovering over the icon */
.center-icon section:hover {
    transform: scale(1.25);
    transition: transform .5s ease;
}

#portfolio-icon {
    height: 100px;
    width: 100px;
    background-image: url("../../assets/icons/hu-tao-portfolio.webp");
    background-size: cover;
    background-position: center;
    transition: transform .5s ease;
}

/* Adjust the sizes for the header elements */
.portfolio-content h2 {
    font-size: 1.5vw;
    padding-right: 10px;
    text-align: center;
    flex: 0 0 15%;
    color: #fdfff2;
}

/* Used to separate the content from the label */
.portfolio-content div {
    flex: 0 0 80%;
}

/* Class selector for putting all the projects into a flex container */
.section-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Class selector for defining each project into their own separate flex container */
.project-flex {
    border: solid 3px #cb010d;
    display: flex;
    text-decoration: none;
    align-items: flex-end;
    margin: 5px 10px 5px 20px;
    padding: 0 0 20px 0;
    max-height: 100px;
    min-height: 100px;
    background-size: 150%;
    font-size: 30px;
    color: grey;
    flex-basis: calc(50% - 50px);
    position: relative;
}

/* Animation when hovering over each project */
.project-flex:hover {
    filter: brightness(125%);
    transform: scale(1.025);
    transition: transform .5s ease;
    background-color: #440c14;
}

/* Name for each project adjusted to the top-left corner of the box */
.project-flex h3 {
    font-size: 1.25vw;
    color: #f4e7d0;
    background-color: #930a00;
    padding: 7px;
    position: absolute;
    top: 0;
    margin: 0;
}

/* Technologies used in each project adjusted to the bottom-right corner of the box */
.project-flex span {
    font-size: 1.25vw;
    color: #f4e7d0;
    background-color: #78202d;
    padding: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* GitHub icon with a link to the project's repository */
.project-flex a {
    position: absolute;
    top: 0;
    right: 0;
}

.project-flex a:hover {
    filter: brightness(150%);
    transform: scale(1.025);
    transition: transform .5s ease;
}

#github-link {
    height: 50px;
    width: 50px;
    background-image: url("../../assets/icons/github-link.webp");
    background-size: cover;
    background-position: center;
    transition: transform .5s ease;
}

/* The following are just ID selectors for each project to display the image within the box */
#data-rebels {
    height: 100px;
    margin-bottom: 25px;
    background-image: url("../../assets/portfolio/data-rebels.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform .5s ease;
}

#tech-blog {
    height: 100px;
    margin-bottom: 25px;
    background-image: url("../../assets/portfolio/moustachit.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform .5s ease;
}

#soccer-info {
    height: 100px;
    margin-bottom: 25px;
    background-image: url("../../assets/portfolio/soccersphere-hq.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform .5s ease;
}

#weather-dashboard {
    height: 100px;
    margin-bottom: 25px;
    background-image: url("../../assets/portfolio/openweather.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform .5s ease;
}

#text-editor {
    height: 100px;
    margin-bottom: 25px;
    background-image: url("../../assets/portfolio/jate.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform .5s ease;
}

#blog {
    height: 100px;
    margin-bottom: 25px;
    background-image: url("../../assets/portfolio/blog.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform .5s ease;
}

/* Media screen queries to adjust the font size based on the screen solution */
@media screen and (max-width: 1280px) {
    .portfolio-content h2 {
        font-size: 2vw;
    }

    .project-flex h3 {
        font-size: 1.5vw;
    }
    
    .project-flex span {
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 992px) {
    .portfolio-content h2 {
        font-size: 2.75vw;
    }

    .project-flex h3 {
        font-size: 1.75vw;
    }
    
    .project-flex span {
        font-size: 1.75vw;
    }
}

@media screen and (max-width: 768px) {
    .portfolio-content h2 {
        font-size: 3.25vw;
    }
}
