

.portfolio-content {
    margin: 5px 0;
    padding: 5px 0;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    justify-content: center;
    width: 70%;
}

/* Label for each section */
.portfolio-content h2 {
    font-size: 125%;
    padding-right: 10px;
    text-align: center;
    flex: 0 0 15%;
}

/* Used to separate the content from the label */
.portfolio-content div {
    flex: 0 0 80%;
}

/* Font size for the text in the About Me section */
.portfolio-content p {
    font-size: 90%;
    margin-left: 20px;
    
    line-height: 1.5;
}

/* Class selector for putting all the projects into a flex container */
.section-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Class selector for defining each project into their own separate flex container */
.project-flex {
    border: solid 3px navy;
    display: flex;
    text-decoration: none;
    align-items: flex-end;
    margin: 5px 10px 5px 20px;
    padding: 0 0 20px 0;
    max-height: 150px;
    min-height: 150px;
    background-size: 150%;
    font-size: 30px;
    color: grey;
    flex-basis: calc(50% - 50px);
    position: relative;
}

/* Animation when hovering over each project */
.project-flex:hover {
    filter: brightness(125%);
    transform: scale(1.025);
    transition: transform .5s ease;
    background-color: peachpuff;
}

/* Name for each project adjusted to the top-left corner of the box */
.project-flex h3 {
    font-size: 13px;
    color: black;
    background-color: #2a607c;
    padding: 5px;
    position: absolute;
    top: 0;
    margin: 0;
}

/* Technologies used in each project adjusted to the bottom-right corner of the box */
.project-flex span {
    font-size: 13px;
    color: white;
    background-color: #08043f;
    padding: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.project-flex a {
    position: absolute;
    /* bottom: 0;
    left: 0; */
    top: 0;
    right: 0;
}

.project-flex a:hover {
    filter: brightness(125%);
    transform: scale(1.025);
    transition: transform .5s ease;
}

/* The following are just ID selectors for each project to display the image within the box */
#data-rebels {
    height: 150px;
    margin-bottom: 25px;
    background-image: url("../../assets/portfolio/data-rebels.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform .5s ease;
}

#tech-blog {
    height: 150px;
    margin-bottom: 25px;
    background-image: url("../../assets/portfolio/moustachit.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform .5s ease;
}

#soccer-info {
    height: 150px;
    margin-bottom: 25px;
    background-image: url("../../assets/portfolio/soccersphere-hq.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform .5s ease;
}

#weather-dashboard {
    height: 150px;
    margin-bottom: 25px;
    background-image: url("../../assets/portfolio/openweather.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform .5s ease;
}

#text-editor {
    height: 150px;
    margin-bottom: 25px;
    background-image: url("../../assets/portfolio/jate.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform .5s ease;
}

#blog {
    height: 150px;
    margin-bottom: 25px;
    background-image: url("../../assets/portfolio/blog.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform .5s ease;
}

#github-link {
    height: 75px;
    width: 75px;
    background-image: url("../../assets/icons/github-link.webp");
    background-size: cover;
    background-position: center;
    transition: transform .5s ease;
}
