/* Specifications for the content of this page */
.resume-content {
    margin: 5px 0;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
}

/* Adjust the sizes for the header elements */
.resume-content h2 {
    font-size: 1.5vw;
    padding-right: 10px;
    text-align: center;
    flex: 0 0 15%;
    color: #fdfff2;
}

.resume-content h3 {
    font-size: 1.25vw;
    text-align: center;
    color: #eaafb7;
}

/* Used to separate the content from the label */
.resume-content div {
    flex: 0 0 80%;
}

/* Adjust the icon to the center */
.download-resume {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.download-resume a {
    display: inline-block;
    padding: 5px;
}

/* Animation when hovering over the icon */
.download-resume a:hover {
    transform: scale(1.25);
    transition: transform .5s ease;
}

#download-icon {
    height: 100px;
    width: 100px;
    background-image: url("../../assets/icons/hu-tao-resume.webp");
    background-size: cover;
    background-position: center;
    transition: transform .5s ease;
}

/* Class selector for putting all the skills into a flex container */
.skills-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Class selector for defining each skillset into their own separate flex container */
.skills-card {
    display: flex;
    flex-direction: column;
    background-color: #440c14;
    color: #f4e7d0;
    border: 1px solid #d8232e;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
      rgba(1, 15, 26, 0.15) 0 2px 4px 3px;
    margin: 10px auto;
    padding: 0;
    width: 25%;
    display: block;
}

.skills-card h3 {
    justify-content: center;
    align-items: center;
}

.skills-card ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1vw;
}

/* Media screen queries to adjust the font size based on the screen solution */
@media screen and (max-width: 1280px) {
    .resume-content h2 {
        font-size: 2vw;
    }

    .resume-content h3 {
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 992px) {
    .resume-content h2 {
        font-size: 2.5vw;
    }

    .resume-content h3 {
        font-size: 1.75vw;
    }
    
    .skills-card ul {
        font-size: 1.25vw;
    }
}

@media screen and (max-width: 768px) {
    .resume-content h2 {
        font-size: 3.25vw;
    }

    .resume-content h3 {
        font-size: 2.25vw;
    }
    
    .skills-card ul {
        font-size: 1.75vw;
    }
}
