.resume-content {
    margin: 5px 0;
    padding: 5px 0;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    justify-content: center;
    width: 90%;
}

.resume-content h2 {
    font-size: 125%;
    padding-right: 10px;
    text-align: center;
    flex: 0 0 15%;
}

.resume-content h3 {
    font-size: 90%;
    text-align: center;
}

/* Used to separate the content from the label */
.resume-content div {
    flex: 0 0 80%;
}

.download-resume {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.download-resume a {
    display: inline-block;
    padding: 5px;
}

/* Animation when hovering over each contact option */
.download-resume a:hover {
    transform: scale(1.25);
    transition: transform .5s ease;
}

#download-icon {
    height: 150px;
    width: 150px;
    background-image: url("../../assets/icons/hu-tao-resume.webp");
    background-size: cover;
    background-position: center;
    transition: transform .5s ease;
}

.skills-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skills-card {
    display: flex;
    flex-direction: column;
    background-color: #9b0505;
    color: white;
    border: 1px solid #0b0161;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
      rgba(1, 15, 26, 0.15) 0 2px 4px 3px;
    margin: 30px auto;
    padding: 5px 20px;
    width: 25%;
    display: block;
}

.skills-card h3 {
    justify-content: center;
    align-items: center;
}

.skills-card ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 75%;
}
