/* Specifications for the content of this page */
.contact-content {
    margin: 5px 0;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
}

/* Adjust the icon to the center */
.center-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.center-icon section {
    display: inline-block;
    padding: 5px;
}

/* Animation when hovering over the icon */
.center-icon section:hover {
    transform: scale(1.25);
    transition: transform .5s ease;
}

#contact-icon {
    height: 150px;
    width: 150px;
    background-image: url("../../assets/icons/hu-tao-contact.webp");
    background-size: cover;
    background-position: center;
    transition: transform .5s ease;
}

/* Adjust the sizes for the header elements */
.contact-content h2 {
    font-size: 125%;
    padding-right: 10px;
    text-align: center;
    flex: 0 0 15%;
    color: #fdfff2;
}

/* Form box */
.form-box {
    background-color: #440c14;
    color: white;
    border: 1px solid #d8232e;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
      rgba(1, 15, 26, 0.15) 0 2px 4px 3px;
    margin: 30px auto;
    padding: 5px 20px;
    width: 50vw;
    display: block;
}

/* Defining the form as a flex display */
form {
    display: flex;
    flex-flow: column wrap;
    position: relative;
    color: #f4e7d0;
}

/* Adjusting margins and positioning of text on the form */
form h2 {
    margin-bottom: 20px;
    font-size: 35px;
}

form label {
    font-size: 25px;
    margin-bottom: 7px;
    margin-top: 20px;
    padding: 5px;
}

/* Input background box and text */
input {
    border-radius: 5px;
    border-width: 3px;
    font-size: 25px;
    background-color: #02000c;
    color: white;
}

#message {
    height: 150px;
    border-radius: 5px;
    border-width: 3px;
    font-size: 25px;
    background-color: #02000c;
    color: white;
    resize: none;
}

#submit {
    font-size: 25px;
    margin-bottom: 10px;
    background-color: #78202d;
    color: #f4e7d0;
}

/* Display a message of error/success based on whether the input is valid or not */
form p {
    font-size: 30px;
    margin: 10px 0;
    color: #eaafb7;
}
