/* Class selector layout for header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #440c14;
    color: #ffffff;
}

/* Nice color gradient for my nickname */
.header h1 {
    color: beige;
    background-image: linear-gradient(135deg, #eaafb7 0%, #a5968c 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px;
    font-size: 30px;
}

#logo {
    height: 200px;
    width: 25%;
    background-image: url("../../assets/logo/kitkatbar-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform .5s ease;
}

#logo:hover {
    transform: scale(1.5);
    transition: transform .5s ease;
}
