.about-me-content {
    margin: 5px 0;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    width: 95%;
}

.center-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.center-icon section {
    display: inline-block;
    padding: 5px;
}

/* Animation when hovering over each contact option */
.center-icon section:hover {
    transform: scale(1.25);
    transition: transform .5s ease;
}

#about-icon {
    height: 150px;
    width: 150px;
    background-image: url("../../assets/icons/hu-tao-about.webp");
    background-size: cover;
    background-position: center;
    transition: transform .5s ease;
}

/* Label for each section */
.about-me-content h2 {
    font-size: 2vw;
    padding-right: 10px;
    text-align: center;
    flex: 0 0 15%;
    color: #fdfff2;
}

/* Used to separate the content from the label */
.about-me-content div {
    flex: 0 0 80%;
}

/* Font size for the text in the About Me section */
.about-me-content p {
    font-size: 1.25vw;
    margin-left: 20px;
    line-height: 1.5;
    color: #f4e7d0;
}

@media screen and (max-width: 1680px) {
    .about-me-content h2 {
        font-size: 2.5vw;
    }
    
    /* Font size for the text in the About Me section */
    .about-me-content p {
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 1280px) {
    .about-me-content h2 {
        font-size: 3vw;
    }
    
    /* Font size for the text in the About Me section */
    .about-me-content p {
        font-size: 2vw;
    }
}

@media screen and (max-width: 992px) {
    .about-me-content h2 {
        font-size: 3.5vw;
    }
    
    /* Font size for the text in the About Me section */
    .about-me-content p {
        font-size: 2.25vw;
    }
}

@media screen and (max-width: 768px) {
    .about-me-content h2 {
        font-size: 3.75vw;
    }
    
    /* Font size for the text in the About Me section */
    .about-me-content p {
        font-size: 2.5vw;
    }
}
