

.about-me-content {
    margin: 5px 0;
    padding: 5px 0;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    width: 95%;
}

/* Label for each section */
.about-me-content h2 {
    font-size: 125%;
    padding-right: 10px;
    text-align: center;
    flex: 0 0 15%;
}

/* Used to separate the content from the label */
.about-me-content div {
    flex: 0 0 80%;
}

/* Font size for the text in the About Me section */
.about-me-content p {
    font-size: 90%;
    margin-left: 20px;
    
    line-height: 1.5;
}
